.big-image-container {
  overflow: hidden;
  height: 90%;
  max-width: auto;
}

.big-image {
  object-fit: contain;
  margin-top: 5%;
  height: 100%;
  width: auto;
}

.big-image-caption {
  color: gray;
  padding-top: 5%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 110%;
}
