.first-module-margin {
  margin-left: 10vh;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-lighter {
  font-weight: lighter;
}
