.issueTitle {
  font-weight: 700;
  margin-left: 80px;
}

.articleLinks {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 80px;
}

li {
  flex-grow: 0;
  margin-right: 84px;
}

button {
  white-space: nowrap;
  background: none;
  font-size: 16px;
  border: 0px;
}

button:focus {
  outline: none;
}

.selected {
  font-weight: 400;
}

.unselected {
  font-weight: 100;
}
