.issueTitle {
  font-weight: 700;
  margin-left: 80px;
}

.articleLinks {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 80px;
}

.articleLink {
  flex-grow: 0;
  margin-right: 84px;
}

a {
  white-space: nowrap;
}

.selected {
  font-weight: 400;
}

.unselected {
  font-weight: 100;
}
